<div class="row" style="padding-top:10%;">
  <div class="col"></div>
    <div class="col-md-7">
      <h1>edit Articles</h1>
      <%= render 'form' %>
</div><!-- col-md-7 -->
 <div class="col"></div>
</div><!-- row -->
