<p><strong>title</strong>
  <%= @article.title %>
</p>

<p><strong>Text:</strong>
    <%= @article.text %>
</p>

<p>
<%= link_to 'back', articles_path %>
<%= link_to 'home', welcome_index_path %>
</p>
