<div class="row" style="padding-top:20%;">
  <div class="col"></div>
  <div class="col-md-7 text-center">
    <h1>欢迎来到才华横溢的世界</h1>
    <p><%= link_to '进入我的世界', articles_path, class: "btn btn-lg btn-danger" %></p>
  </div><!-- col-md-7 -->
   <div class="col"></div>
</div><!-- row -->
