<div class="row" style="padding-top:8%;">
  <div class="col"></div>
  <div class="col-md-7 text-center">
    <%= image_tag 'YAN-JIANG.jpg', style:"width:100%" %>
    <div class="jumbotron">


    <h1>欢迎来到才华横溢的世界</h1>
    <p><%= link_to '进入我的世界', articles_path, class: "btn btn-lg btn-welcome" %></p>
      </div><!-- jumbotron -->
    </div><!-- col-md-7 -->
   <div class="col"></div>
</div><!-- row -->
